@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400&display=swap');

body {
  background-color: #0c0c0c;
  color: #ededed;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 0.9rem;
}

small {
  font-size: 0.8rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
